html,
body {
  /* height: 100%; */

  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Tajawal", sans-serif;
}

.form-group {
  padding-left: 1rem;
}

.wrapper {
  max-width: 600px;
  min-width: 500px;
}

.full-width {
  width: 100%;
}

