<div class="wrapper">
  <h2 mat-dialog-title>هل نسيت اسم المستخدم أو كلمة السرّ؟</h2>
  <mat-dialog-content>
    <h4>
      يرجى إدخال عنوان بريدك الإلكتروني في ما يلي كي نتمكن من إرسال رابط لاعادة
      تعيين كلمة السر الخاصة بك.
    </h4>

    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()" class="form">
      <mat-form-field class="full-width">
        <mat-label>البريد الإلكتروني </mat-label>
        <input matInput type="email" formControlName="email" />
      </mat-form-field>
      <mat-dialog-actions align="end">
        <button
          [disabled]="isLoading || !forgotPasswordForm.valid"
          [mtBasicSpinner]="isLoading"
          type="submit"
          mat-flat-button
          color="primary"
          mat-dialog-close
        >
          إرسال الرابط
        </button>
        <button mat-flat-button color="warn" mat-dialog-close>إلغاء</button>
      </mat-dialog-actions>
    </form>
  </mat-dialog-content>
</div>
