<section class="background">
  <div class="container">
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>
          <h3>تصنيف الوظائف</h3>
        </mat-card-title>
        <mat-card-subtitle>
          <h4>العدد:</h4>
        </mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <button
          (click)="onOpenJobCategoryDialog()"
          mat-flat-button
          color="primary"
        >
          Manage
        </button>
      </mat-card-content>
    </mat-card>

    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>
          <h3>الخبرات</h3>
        </mat-card-title>
        <mat-card-subtitle>
          <h4>العدد:</h4>
        </mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <button
          (click)="onOpenExperienceDialog()"
          mat-flat-button
          color="primary"
        >
          Manage
        </button>
      </mat-card-content>
    </mat-card>

    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>
          <h3>المهارات</h3>
        </mat-card-title>
        <mat-card-subtitle>
          <h4>العدد:</h4>
        </mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <button (click)="onOpenSkillDialog()" mat-flat-button color="primary">
          Manage
        </button>
      </mat-card-content>
    </mat-card>

    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>
          <h3>اللغات</h3>
        </mat-card-title>
        <mat-card-subtitle>
          <h4>العدد:</h4>
        </mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <button
          (click)="onOpenLanguageDialog()"
          mat-flat-button
          color="primary"
        >
          Manage
        </button>
      </mat-card-content>
    </mat-card>



    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>
          <h3>الوظائف</h3>
        </mat-card-title>
        <mat-card-subtitle>
          <h4>العدد:</h4>
        </mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <button
          (click)="onOpenJobDialog()"
          mat-flat-button
          color="primary"
        >
          Manage
        </button>
      </mat-card-content>
    </mat-card>


  </div>
</section>
